@use "@styles/abstracts/text";

h1 {
  @extend %text-section-title;
}

hgroup {
  @extend %text-title-group;
}

h2 {
  @extend %text-title;
}

p {
  @extend %text-paragraphe;
}

@media (max-width: 500px) {
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 25px;
  }
  p {
    font-size: 20px;
  }
}

b {
  font-weight: normal;
  color: map-get(colors.$palette, mediumblue);
}