@use "@styles/abstracts/text";
@use "@styles/abstracts/colours";

h1 {
  @extend %text-section-title;
}

hgroup {
  @extend %text-title-group;
}

p {
  @extend %text-paragraphe;
}

@media (max-width: 500px) {
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 25px;
  }
  p {
    font-size: 20px;
  }
}

b {
  font-weight: normal;
  color: colours.$mediumblue;
}