// Palette
$palette: (
    darkblue: #2F4858,
    mediumblue: #2A64C5,
    lightblue: #86BBD8,
    darkYellow: #F6AE2D,
    mediumYellow: #FACD7C,
    lightYellow: #FAF1DA,
    background: #FAFAF1,
    background2: #F8F1E4,
);
