@use "./radius" as r;

@mixin logo-container($width: 20%) {
  height: 100%;
  width: $width;
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin logo($max-height: 75%) {
  max-height: $max-height;
}

@mixin sketch($width: 80%) {
  width: $width;
  border: 2px solid;
  border-radius: r.$radius2;
}

@mixin sketch-container($width: 100%) {
  width: $width;
  justify-content: center;
  display: flex;
  margin-bottom: 100px;
}
