$circle: 200px 185px 160px / 195px 160px;
$radius0: 225px 25px 225px / 25px 225px;
$radius1: 15px 255px 15px / 225px 15px;
$radius2: 10px 125px 20px / 205px 25px;
$radius3: 225px 15px 15px / 15px 225px;
$radius4: 80px 15px 105px / 25px 250px;
$radius5: 10px 90px 15px / 180px 10px;