@use "../../styles/abstracts/colors" as colors;

.menuButton {
  display: flex;
  text-align: left;
  text-transform: uppercase;
  font-size: 17px;
  padding: 5px;
  font-weight: bold;
  color: white;
  background-color: transparent;
  border: transparent;
}

.menuButtonBordered {
  display: flex;
  text-align: center;
  text-transform: uppercase;
  font-size: 17px;
  padding: 5px;
  font-weight: bold;
  color: white;
  background-color: transparent;
  border: solid 1px white;
  border-radius: 5px;
}

.submitButton {
  background-color: map-get(colors.$palette, darkblue);
  font-size: 17px;
  font-weight: bold;
  color: white;
  border: transparent;
  padding: 30px;
  border-radius: 5px;
}

.dropDownButton {
  text-transform: uppercase;
  font-size: 10px;
  text-align: left;
  padding: 5px;
  color: white;
  background-color: transparent;
  border: transparent;
}