@use "../abstracts/font" as f;

.contact {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  row-gap: 8%;
  margin-bottom: 30%;

  &__face {
    grid-column: span 2;
    display: flex;
    justify-content: center;
  }

  &__information {
    grid-column: 3/5;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: f.$font_text;
    margin: 5%;
  }
  &__grid {
    grid-row: 2;
    grid-column: span 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10%;
  }

  &__cropped-image {
    grid-column: span 6;
    display: flex;
    justify-content: center;
    height: 400px;
  }
}
