@use "../abstracts/section-title";
@use "../abstracts/paragraphe";
@use "../abstracts/image" as i;

.gestalt {
  display: grid;
  grid-template-columns: 45% 10% 45%;
  margin-top: 100px;
  row-gap: 50px;

  &__title {
    @extend %section-title;
    grid-column: 1/4
  }

  &__paragraphe {
    @extend %paragraphe;
    grid-column: 1/4; 
    
  }
  &__cropped-paragraphe {
    @extend %paragraphe;
    padding: 10px
  }

  &__cropped-image {
    display: flex; 
    justify-content: center
  }


  &__image {
    @include i.sketch-container(100%);
    &__sketch {
      @include i.sketch(70%);
    }
  }
}
