@use "../abstracts/paragraphe";
@use "../abstracts/image" as i;
@use "../abstracts/font" as f;

.presentation {
  display: grid;
  grid-template-columns: 50% 50%;
  margin-bottom: 3%;

  &__name {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 55px;
    font-family: f.$font_title;
    line-height: 1.4;
  }

  &__job {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: f.$font_title;
    font-size: 55px;
  }

  &__description {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
  }

  &__sketch-container {
    @include i.sketch-container;
    margin-bottom: 70px;
  }

  &__sketch-croped {
    @include i.sketch-container;
    margin-bottom: 70px;
  }

  &__sketch {
    @include i.sketch($width: 80%);
  }
}
.right-paragraphe {
  grid-column: 1/2;
  font-size: 30px;
  padding: 0px;
}

.left-paragraphe {
  grid-column: 2/3;
  grid-row: 2;
  font-size: 30px;
  padding: 0px;
}

.paragraphe {
  display: grid;
  grid-template-columns: 50% 50%;
  row-gap: 40px;

  &__container {
    display: flex;
    height: 100%;
    width: 84%;
    margin: 8% 8% 10% 8%;
  }

  &__sketch-container {
    @include i.sketch-container();
    display: flex;
    align-items: center;
    margin-bottom: 70px;
  }
}

@media (max-width: 850px) {
  .presentation {
    grid-template-columns: 100%;
    margin-top: 20px;
    row-gap: 10%;
    &__name {
      font-size: 40px;
    }
    &__job {
      font-size: 40px;
    }
    &__sketch-container {
      @include i.sketch-container;
      margin: 70px 0px;
    }
  }
}

@media (max-width: 720px) {
  .left-paragraphe {
    grid-column: 1;
    grid-row: 3;
  }
  .right-paragraphe {
    grid-column: 1;
  }
  .paragraphe {
    margin-top: 10px;
    grid-template-columns: 100%;
    &__sketch-container {
      margin-bottom: 40px;
    }
  }
  .presentation {
    &__sketch-croped {
      display: none;
    }
    &__sketch {
      width: 90%;
    }
  }
}

@media (max-width: 500px) {
  .right-paragraphe {
    font-size: 20px;
  }
  .left-paragraphe {
    font-size: 20px;
  }

  .presentation {
    &__name {
      font-size: 40px;
    }

    &__job {
      font-size: 40px;
    }
  }
}
