@use "../../../styles/abstracts/section-title";
@use "../../../styles/abstracts/paragraphe";
@use "../../../styles/abstracts/image" as i;

.how {
  display: flex;
  flex-direction: column;
  margin-top: 20%;
  margin-bottom: 10%;

  &__paragraphe {
    @extend %paragraphe;
  }

  &__title {
    @extend %section-title;
    margin-top: 0px;
    margin-bottom: 60px;
  }
}

@media (max-width: 500px) {
  .how {
    &__title {
      font-size: 30px;
      padding: 0px 20px 0px 20px;
    }

    &__paragraphe {
      font-size: 20px;
      padding: 0px 20px 0px 20px;
    }
  }
}

@media (max-width: 1160px) {
  .how {
    &__paragraphe {
      padding: 0px 30px 0px 30px;
    }
  }
}

@media (max-width: 1100px) {
  .how {
    &__title {
      margin-bottom: 30px;
    }
  }
}
