@use "../../../styles/abstracts/section-title";
@use "../../../styles/abstracts/paragraphe";
@use "../../../styles/abstracts/image" as i;

.how {
  display: flex;
  flex-direction: column;
  margin-top: 20%;
  margin-bottom: 10%;

  &__paragraphe {
    @extend %paragraphe;
  }

  &__title {
    @extend %section-title;
    margin-top: 0px;
    margin-bottom: 60px;
  }
}


@media (max-width: 415px) {
  .how {
    &__title {
      font-size: 30px;
    }

    &__paragraphe {
      font-size: 25px;
    }
  }
}