@use "../../styles/abstracts/colors" as colors;

.menuLink {
  display: flex;
  text-align: left;
  text-transform: uppercase;
  font-size: 17px;
  padding: 5px;
  font-weight: bold;
  color: white;
  background-color: transparent;
  border: transparent;
}

.menuLinkBordered {
  display: flex;
  text-align: center;
  text-transform: uppercase;
  font-size: 17px;
  padding: 5px;
  font-weight: bold;
  color: white;
  background-color: transparent;
  border: solid 1px white;
  border-radius: 5px;
}

.dropDownLink {
  text-transform: uppercase;
  font-size: 10px;
  text-align: left;
  padding: 5px;
  color: white;
  background-color: transparent;
  border: transparent;
}

@media (max-width: 1130px) {
  .menuLink {
    font-size: 15px;
  }
  .menuLinkBordered {
    font-size: 15px;
  }
}
