---
// Import your root App component
import Layout from '../Layout/Layout.astro';
import ContactForm from '../components/Contact/contactForm/ContactForm';
import Map from '../components/map/map';

import cabinet from '../assets/images/cabinet.png';
import lighthouse from '../assets/images/lighthouse.png';
import sea_rocks from '../assets/images/sea_rocks.png';
import CropedImage from '../components/CropedImage/CropedImage';
import './contact.scss';
import { pages } from '../components/Header/NavigationHeader';
---

<Layout pageTitle="test" description="test" id="test" path="/" page={pages.CONTACT}>
  <div class="contact">
    <div class="contact__face left">
      <CropedImage
        alt={'philippe_face_left'}
        src={cabinet.src}
        width={'70%'}
        height={'100%'}
        zoom={11}
        offsetX={2}
        offsetY={1.8}
        willChange={'right'}
      />
    </div>

    <div class="contact__information">
      <div>Philippe Péharpré</div>
      <a class="contact__email" href="mailto:ph.peharpre@gmail.com"
        >contact.peharpre@gmail.com</a
      >
      <div>06 07 79 62 12</div>
      <br />
      <div>8 Bld Villebois Mareuil</div>
      <div>35 400 Saint Malo</div>
    </div>
    <div class="contact__face">
      <CropedImage
        alt={'philippe_face_right'}
        src={sea_rocks.src}
        width={'70%'}
        height={'100%'}
        zoom={11}
        offsetX={5.3}
        offsetY={1}
        willChange={'right'}
      />
    </div>
    <div class="contact__grid-1">
      <Map client:only="solid-js"/>
    </div>
    <div class="contact__grid-2">
      <ContactForm />
    </div>
    <div class="contact__cropped-image">
      <CropedImage
        alt={'philippe_face'}
        src={lighthouse.src}
        width={'70%'}
        maxWidth={'1106px'}
        height={'100%'}
        zoom={11}
        offsetX={0}
        offsetY={1.3}
      />
    </div>
  </div>
</Layout>