@use "../../../styles/abstracts/section-title";
@use "../../../styles/abstracts/paragraphe";
@use "../../../styles/abstracts/image" as i;

.my-specificities {
  display: grid;
  margin-top: 40px;
  row-gap: 50px;

  &__title {
    @extend %section-title;
  }

  &__paragraphe {
    @extend %paragraphe;
    display: flex;
    flex-direction: column;
    padding: 0px 5px 0px 5px;
  }

  &__image {
    @include i.sketch-container(100%);
    margin-bottom: 10px;
    &__sketch {
      @include i.sketch($width: 60%);
    }
  }
}
