@use "../../../styles/abstracts/section-title";
@use "../../../styles/abstracts/paragraphe";
@use "../../../styles/abstracts/image" as i;

.my-specificities {
  display: grid;
  margin-top: 40px;
  row-gap: 50px;

  &__title {
    @extend %section-title;
  }

  &__paragraphe {
    @extend %paragraphe;
    display: flex;
    flex-direction: column;
    padding: 0px 5px 0px 5px;
  }

  &__image {
    @include i.sketch-container(100%);
    margin-bottom: 10px;
    &__sketch {
      @include i.sketch($width: 60%);
    }
  }
}



@media (max-width: 1100px) {
  .my-specificities {
    &__image {
      &__sketch {
        width: 85%
      }
    }
  }
}


@media (max-width: 500px) {
  .my-specificities {
    &__title {
      font-size: 30px;
    }
    &__paragraphe {
      font-size: 25px;
    }
  }
}
