---
import './footerContact.scss';
import EcoBadge from "components/EcoBadge/EcoBadge";
const { href } = Astro.url;
---

<div class="contact-info">
  <div class="contact-info__person">
    <p>Philippe Péharpré</p>
    <a href="mailto:ph.peharpre@gmail.com" style={{ color: 'white' }}>
      contact.peharpre@gmail.com
    </a>
    <p>06 07 79 62 12</p>
  </div>
  <div class="contact-info__adress">
    <p>18 Avenue Jean Jaurès</p>
    <p>35 400 Saint Malo</p>
    <a href="/mentions-legales">Mentions légales</a>
  </div>
  <EcoBadge href={href} client:only="solid-js"/>
</div>
