@use "../../../styles/abstracts/section-title";
@use "../../../styles/abstracts/paragraphe";
@use "../../../styles/abstracts/image" as i;

.carreer {
  display: grid;
  grid-template-columns: 47.5% 47.5%;
  padding-top: 10%;
  row-gap: 100px;
  column-gap: 5%;
  margin: 20px;

  &__title {
    @extend %section-title;
    grid-column: 1/3;
  }

  &__paragraphe {
    @extend %paragraphe;
    display: flex;
    flex-direction: column;
    padding: 0px 5px 0px 5px;
  }

  &__image {
    @include i.sketch-container;
    margin-bottom: 10px;
    &__sketch {
      @include i.sketch($width: 70%);
    }
  }

  &__items {
    grid-template-columns: 50% 50%;
    display: grid;
    grid-row-gap: 30%;
  }

  &__items-1 {
    grid-template-columns: 50% 50%;
    display: grid;
    grid-row-gap: 30%;
  }

  &__item1 {
    display: flex;
    justify-content: center;
  }

  &__item2 {
    display: flex;
    justify-content: center;
    grid-column: 1/3;
  }
}

@media (max-width: 1100px) {
  .carreer {
    grid-template-columns: 100%;
    row-gap: 50px;

    &__title {
      grid-column: 1;
      padding-top: 20%;
    }

    &__paragraphe {
      grid-column: 1;
    }

    &__items-1 {
      display: none;
    }
    &__items {
      grid-column: 1;
      grid-row-gap: 0%;
    }
    &__item1 {
      display: none;
    }
  }
}

@media (max-width: 500px) {
  .carreer {
    &__title {
      font-size: 30px;
    }
    &__paragraphe {
      font-size: 25px;
    }
  }
}
