@use 'src/styles/abstracts/layouts';
@use 'src/styles/abstracts/colours';
@use 'src/styles/abstracts/spacings';
@use 'src/styles/abstracts/font-size';

#external-link {
  @include layouts.flex(column, center, center);
  #developper {
    padding-bottom: spacings.$s;
    text-align: center;
  }
  #badge {
    text-align: center;
    b {
      color: white;
      font-weight: bold;
    }
  }
}

@media (max-width: 1000px) {
  #external-link {
    padding-top: 30px;
    grid-row: 2;
    grid-column: span 2;
  }
}
