@use "../../styles/abstracts/colors" as colors;
@use "../../styles/abstracts/image" as i;

.header {
  width: 100%;
  display: flex;
  position: sticky;
  background-color: map-get(colors.$palette, darkblue);
  right: 0;
  top: 0;
  z-index: 1;
  will-change: scroll-position;

  &__logo-container {
    @include i.logo-container();
  }
  &__logo {
    @include i.logo();
  }

  &__navigation {
    background-color: transparent;
    width: 70%;
    margin: 0% 15% 0% 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  @media (max-width: 1300px) {
    &__navigation {
      margin: 0% 5% 0% 5%;
    }
  }
  &__sections {
    display: flex;
    flex-direction: column;
  }
}
