@import "../abstracts/colors";

.footer {
  height: 25%;
  display: flex;
  padding: 50px;
  align-items: center;
  background-color: map-get($palette, darkblue);
  column-gap: 5%;
  justify-content: center;
}