@use "src/styles/abstracts/colours";
@use "../../styles/abstracts/image" as i;

.footer {
  height: 200px;
  display: flex;
  padding: 10px 20px 10px 50px;
  align-items: center;
  background-color: colours.$darkblue;
  justify-content: center;

  &__logo-container {
    @include i.logo-container();
  }
  &__logo {
    @include i.logo();
  }
  &__contact-container {
    width: 100%;
    margin: 0% 7% 0% 5%;
  }
}


@media (max-width: 720px) {
  .footer__logo-container{
    display: none;
  }
}


@media (max-width: 620px) {
  .footer{
    height: 100%;
  }
}

