@import "../../styles/abstracts/colors";

.footer {
  height: 200px;
  display: flex;
  padding: 10px 50px 10px 50px;
  align-items: center;
  background-color: map-get($palette, darkblue);
  justify-content: center;
}